<mat-toolbar color="primary">
  <div>
    <a *ngIf="userAuth" routerLink="/">LOGO</a>
    <a *ngIf="!userAuth" href="javascript:void(0)">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul [ngSwitch]="userAuth()" fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngSwitchCase="false">
        <a routerLink="/signup">Registre-se</a>
      </li>
      <li *ngSwitchCase="false">
        <a routerLink="/login">Entrar</a>
      </li>
      <li *ngSwitchCase="true">
        <a routerLink="/contacts">Contatos</a>
      </li>
      <li *ngSwitchCase="true">
        <a href="javascript:void(0)" (click)="onLogout()">Sair</a>
      </li>
    </ul>
  </div>
</mat-toolbar>